body {
    font-size: 1.5rem;
    height: 100%;
    margin: 0 auto;
    max-width: 80%;
}

header {
    border-bottom: 1px solid black;

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        list-style: none;
        text-transform: uppercase;
    }
}

/* Recetas */

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receta {
    background-color: rgb(235, 225, 184);
    padding: 1rem;
    margin-top: 1rem;
}