
main {
    font-size: 1.5rem;
    height: 100%;
    margin: 0 auto;
    max-width: 80%;
    padding: 0 20%;
}

.encabezado-container {
    display: flex;
    justify-content: space-between;

    li {
        list-style: none;
    }
    
}

li a {
    color: #000000;
}

.imagenes {
    display: flex;
    gap: 1%;

    figure {
        width: 33%;
        margin: 0;
        padding: 0;
    }

    img {
        height: 250px;
        object-fit: cover;
        width: 100%;
    }


}